/obj/
obj
.vs/Verdant/v16/.suo
bin/Debug/net45/Verdant.dll
bin/Debug/net45/Verdant.pdb
/.vs/Verdant/v16/Server/sqlite3
/.vs/Verdant/DesignTimeBuild
obj/Debug/net45/Verdant.csprojAssemblyReference.cache
obj/Debug/net45/Verdant.dll
obj/Debug/net45/Verdant.pdb
/bin/Debug/net45
